:root{
    --logo-color: .light-mode;
    --logo-size: 40vmin;
}

.jbl{
    fill: var(--logo-color,aqua);
    height: var(--logo-size);
    pointer-events: none;
}

.title{
    display: flex;
    justify-content: center;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
}

.bluebuttoncss {
    font-family: "tahoma", "宋体";
    font-size: 15pt; color: #003366;
    border: 1px #003366 solid;
    /* background-image:url(../images/blue_button_bg.gif); */
    background-color: navajowhite;
    cursor: hand;
    font-style: normal ;
}

.redbuttoncss {
    font-family: "tahoma", "宋体"; /*www.52css.com*/
    font-size: 15pt; color: red;
    border: 1px red solid;
    background-color: navajowhite;
    cursor: hand;
    font-style: normal ;
}

.grid {
    display: grid;
    transition: 300ms;
    grid-template-columns: var(--left, 90px) auto;
    height: fit-content;
}
  
.grid:has(.left:hover) {
    --left: 40%;
}

.left{
    background: #ccc;
}

.right {
    background: navajowhite;
    border: 3rem solid rgb(0 0 0 / 5%);
  }

input{
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: navajowhite;
    width: fit-content;
    box-sizing: border-box;
}

input:has(:focus){
    border: 1px solid #000;
}


body {
    padding: 20px;
    background-color: navajowhite;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
  }
  
  body.light-mode {
    background-color: navajowhite;
    color: #000000;
  }
  
  body.dark-mode {
    background-color: #333333;
    color: #ffffff;
  }

  ul{
    width: 100%;
  }

  li {
    height: 40px;
    width: 80%;
    max-width: fit-content;
    line-height: 40px;
    background-color: #eee;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
